body {
  display: flex;
  font-family: sans-serif;
  font-size: 18px;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.4em;
  border: 20px solid #ffe918;
  box-sizing: border-box;

}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  background-color: black;
  background-image: url(https://downloops.com/wp-content/uploads/edd/2017/05/Starfield-Stars-Universe-FlyBy-Motion-Background-Video-Loop-Sample2-1.jpg);
  background-size: cover;
  background-position: center center;
}

header h1 {
  color: #ffe918;
  font-size: 4em;
  line-height: 1em;
  font-weight: 800;
}

main {
  width: 80vw;
  max-width: 1000px;
  margin: 30px auto;
  text-align: center;
}

form {
  width: 50vw;
  margin: 30px auto;
  padding: 50px;
  box-sizing: border-box;
  border: 10px solid #ffe918;
}

input[type=number] {
  outline: 0px;
  border: 0px;
  border-bottom: 3px solid black;
  font-size: 20px;
  text-align: center;
}

input[type=number]:focus {
  border-bottom-color: #ffe918;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 15px;
  margin: 3px;
  cursor: pointer;
  border: 0;
  font-size: 18px;
}

.character-info h2 {
  font-size: 2em;
  line-height: 1.4em;
}
